# ------------ Django ----------------
django 
djangorestframework # 用于构建RESTful API
Pillow 
django-cors-headers # 用于解决跨域问题
# ------------------------------------

# ---------------- ai ----------------
openai
# ------------------------------------

# -------------- 数据库 ---------------
mysqlclient
PyMySQL
# ------------------------------------

# -------------  代码风格检查工具 -----------
flake8
flake8-django
flake8-docstrings
# ----------------------------------------


