# ------------ Django ----------------
django~=5.1.4
djangorestframework~=3.15.2
Pillow~=11.1.0
django-cors-headers # 用于解决跨域问题
drf-yasg # 用于构建Swagger文档
alipay-sdk-python
requests~=2.32.3
# ------------------------------------

# ---------------- ai ----------------
openai~=1.59.8
# ------------------------------------

# -------------- 数据库 ---------------
mysqlclient
PyMySQL~=1.1.1
PyJWT~=2.10.1
# ssl
# ------------------------------------

# -------------  代码风格检查工具 -----------
flake8
flake8-django
flake8-docstrings
# ----------------------------------------

# ------------ 文字相关搜索 ----------------
jieba~=0.42.1
scikit-learn~=1.6.1
# ----------------------------------------

